{% extends 'UserManagementBundle:user:index.html.twig' %}

{% block body %}
<table border="1" align="center"> 
    <tr>
        <th>BloodGroup</th>
        <th>Add New</th>
        <th>Action</th>                
    <tr>
        <td>
    {% for bloodgroup in bloodgroups %}
        {{ bloodgroup.name }}<br/>
    {% endfor %}

        {{ form_start(form) }}
            <td> {{ form_row(form.name) }} </td>
            <td>{{ form_row(form.save) }}</td>
        {{ form_end(form) }}
    </tr>
</table>
    <div class="back_button" align="center">
        <input type="button" value="back" onclick="location.href='{{ path('user_management_admin')}}'">
    </div>
{% endblock %}
{% block stylesheets %}
   {{ parent() }}
{% endblock %}
