{% extends 'UserManagementBundle:user:index.html.twig' %}
{% block body %}
<table border="2" align="center">
    <tr>
        <th>Education Types</th>
        <th>Add New</th>
        <th>Action</th>                
    <tr>
        <td>
    {% for education in educationtypes %}
        {{ education.type }}<br/>
    {% endfor %}

        {{ form_start(form) }}
            <td> {{ form_row(form.type) }} </td>
            <td>{{ form_row(form.save) }}</td>
        {{ form_end(form) }}
    </tr>
</table>
    <div class="back_button" align="center">
        <input type="button" value="back" onclick="location.href='{{ path('user_management_admin')}}'">
    </div>
{% endblock %}
{% block stylesheets %}
   {{ parent() }}
{% endblock %}
