{% extends 'UserManagementBundle:user:index.html.twig' %}

{% block body %}
{{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' }}) }}
<table align="center">
    <tr>
        <th>Type</th>
        <th>List</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>
            {{ form_label(form.blood) }}
        </td>
        <td>
            {{ form_widget(form.blood) }}
        </td>
        <td>
            <input type="button" value="Add"
                   onclick="location.href='{{ path('user_management_addBloodGroup') }}'" >
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.interests) }}
        </td>
        <td>
             {% for interestfield in form.interests %}
                    {{ form_widget(interestfield.interest) }}
            {% endfor %}
        </td>
        <td>
            <input type="button" value="Add"
                   onclick="location.href='{{ path('user_management_addInterest') }}'"
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.education) }}
        </td>
        <td>
             {% for edu in form.education %}
                    {{ form_widget(edu.eduType) }}
            {% endfor %}
        </td>
        <td>
            <input type="button" value="Add"
                   onclick="location.href='{{ path('user_management_addEducation') }}'">                   
        </td>
    </tr>
</table>
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block stylesheets %}
   {{ parent() }}
{% endblock %}
