<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}UserManagementSystem{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/usermanagement/css/homepage.css') }}"> 
        {% endblock %}
</head>
<body>
<div class = "header">
    {% block heading %}
    <div class = "heading">
        <b>User Management System</b>
    </div>
    {% endblock %}
    {% block taps %}
    <div class = "taps">
        <ul>
            <li><a href = "{{ path('user_management_form') }}">New User</a>
            </li>
            <li><a href = "{{ path('user_management_list') }}">User List</a>
            </li>
            {% if is_granted('ROLE_ADMIN') == true %}
            <li><a href = "{{ path('user_management_admin') }}">Admin Page</a>
            </li>
            {% endif %}
            <li><a href="{{ path('logout') }}">logout</a></li>
        </ul>
    </div>
    {% endblock %}
</div>
<div class = "container">
    <div id="message"> {% block messages %}{% endblock %} </div>
    <div id="content">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %} {% endblock %}
    </div>
</div>
</body>
</html>