{% extends 'UserManagementBundle:user:index.html.twig' %}

{% block messages %}
{% for messages in app.flashes(['denied','success']) %}
    {% for message in messages %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
{% endfor %}
{% endblock %}

{% block body %}
   {# <form method="post" action="{{ path('user_management_export') }}" enctype="multipart/form-data">
        <input type="submit" value="exportCSV" name="upload">
    </form>#}
<div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Currently Logged in user: <b>{{ app.user.userName }}</b></p>
{% endif %}
</div>
<div id="displayResults">
    <table border = "2" id="userlist" align="center">
        <tr>
            <th>UserName</th>
            <th>FirstName</th>
            <th>LastName</th> 
            <th>DOB</th>
            <th>Gender</th>
            <th colspan="2">Modify</th>
        </tr>
    {% for user in users %}
        <tr>  
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>   
            <td>{{ user.lastname }}</td>
            <td>{{ user.dob|date('Y-m-d') }}</td>
            <td>{{ user.gender }}</td>
            <td>
                <input type="button" value="View" class="edit_button"
                       onclick="location.href='/users/view/{{user.id}}';" >
                <input type="button" value="Edit" class="edit_button"
                       onclick="location.href='/users/edit/{{user.id}}';" >
            </td>
        </tr>
    {% endfor %}
    </table>
    <div id="pagination" align="center">    
    {% if maxPages > 1 %}
    <table class="pagination" >
        <tr>
            <td>
            {% if thisPage <= 1 %}
                <span> « </span>
            {% else %}
                <span>
                    <input type="button" class="page_no" value="«" onclick="changePagination('{{ thisPage-1 < 1 ? 1 : thisPage-1 }}')" href="javascript:void(0)">
                </span>
            {% endif %}
            {% set start = max(1, thisPage - 4) %}
            {% set end = min(thisPage + 4, maxPages) %}
            
            {% for i in start..end %}
                {% if thisPage != i %}
                    <span>
                    <input type="button" class="page_no" value="{{ i }}" onclick="changePagination('{{ i }}')" href="javascript:void(0)">
                    </span>
                {% else %}
                    <span>{{ i }}</span>
                {% endif %}
            {% endfor %}

            {% if thisPage == maxPages %}
                <span> » </span>
            {% else %}
                <span>
                    <input type="button" class="page_no" value="»" onclick="changePagination('{{ thisPage+1 <= maxPages ? thisPage+1 : thisPage }}')" href="javascript:void(0)">
                </span>
            {% endif %}
            </td>
        </tr>
    </table>
    {% endif %}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/usermanagement/js/paginate.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}



