{# src/UserManagementBundle/Resources/views/form/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' }}) }}
<table>
    <tr>
        <td>
            {{ form_label(form.username) }}
        </td>
        <td>
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.firstname) }}
        </td>
        <td>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.lastname) }}
        </td>
        <td>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.gender) }}
        </td>
        <td>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.blood) }}
        </td>
        <td>
            {{ form_widget(form.blood) }}
            {{ form_errors(form.blood) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.dob) }}
        </td>
        <td>
            {{ form_widget(form.dob) }}
            {{ form_errors(form.dob) }}
        </td>
    </tr>
  
    <tr>
        <td>
            {{ form_label(form.emails) }}
        </td>
        <td>

        <ul id="email-fields-list"
            data-prototype="{{ form_widget(form.emails.vars.prototype)|e }}">
            {% for emailField in form.emails %}
                <li>
                    {{ form_widget(emailField) }}
                    {{ form_errors(emailField) }}

                </li>
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td>
        <a href="#" id="add-another-email" onclick="addField('email-fields-list')">Add another email</a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.mobileNumbers) }}
        </td>
        <td>

        <ul id="mobile-numbers-list"
            data-prototype="{{ form_widget(form.mobileNumbers.vars.prototype)|e }}">
            {% for mobileField in form.mobileNumbers %}
                <li>
                    {{ form_widget(mobileField) }}
                    {{ form_errors(mobileField) }}

                </li>
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td>
        <a href="#" id="add-another-number" onclick="addField('mobile-numbers-list')">Add another Number</a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.education) }}
        </td>
        <td>

        <ul id="education-list"
            data-prototype="{{ form_widget(form.education.vars.prototype)|e }}">
            {% for edu in form.education %}
                <li>
                    {{ form_widget(edu.eduType) }}
                    {{ form_errors(edu.eduType) }}
                    {{ form_widget(edu.institute) }}
                    {{ form_errors(edu.institute) }}
                </li>
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td>
        <a href="#" id="add-another-education" onclick="addField('education-list')">Add another Education</a>
        </td>
        <td></td>
    </tr>
    
    <tr>
        <td>
            {{ form_label(form.interests) }}
        </td>
        <td>

        <ul id="interests-list"
            data-prototype="{{ form_widget(form.interests.vars.prototype)|e }}">
            {% for interestfield in form.interests %}
                <li>
                    {{ form_widget(interestfield.interest) }}
                    {{ form_errors(interestfield.interest) }}
                </li>
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td>
        <a href="#" id="add-another-interest" onclick="addField('interests-list')">Add another interest</a>
        </td>
        <td></td>
    </tr>
    </table>

{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{ asset('bundles/usermanagement/js/addRemoveField.js') }}">    
    </script>
    <script>
        $(document).ready(function() {
            var today = new Date();
            var currentYear = today.getFullYear();
            //var rangeLimit = currentYear-18;
            $( ".js-datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1980:'+currentYear,
            });
        });
    </script>
    
{% endblock %}
{% block stylesheets %}
    <style>
        .ui-datepicker {
            background: #999;
        }
        div.email_id, div.phone_number, div.education_type, div.interest_area {
            display:inline-block;
        }
        
    </style>
{% endblock %}
        