{# src/UserManagementBundle/Resources/views/form/new.html.twig #}

{% extends 'UserManagementBundle:user:index.html.twig' %}

{% block messages %}
{% for message in app.flashes('success') %}
    <div>
        {{ message }}
    </div>
{% endfor %}
{% endblock %}

{% block body %}
<div id="new_form">
{{ form_start(form, {'attr':{'novalidate' : 'novalidate','id':'myform'}}) }}
<table align="center">
    <tr>
        <td>
            {{ form_label(form.username) }}
        </td>
        <td>
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.firstname) }}
        </td>
        <td>
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.lastname) }}
        </td>
        <td>
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.gender) }}
        </td>
        <td>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.blood) }}
        </td>
        <td>
            {{ form_widget(form.blood) }}
            {{ form_errors(form.blood) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.dob) }}
        </td>
        <td>
            {{ form_widget(form.dob) }}
            {{ form_errors(form.dob) }}
        </td>
    </tr>
  
    <tr>
        <td>
            {{ form_label(form.emails) }}
        </td>
        <td>

        <ul id="email-fields-list"
            data-prototype="{{ form_widget(form.emails.vars.prototype)|e }}">
            {% for emailField in form.emails %}
                    {{ form_widget(emailField) }}
                    {{ form_errors(emailField) }}
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
        <input type="button" value="Add another email" id="add-another-email" {#onclick="addField('email-fields-list','user_emails')"#}>
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.mobileNumbers) }}
        </td>
        <td>

        <ul id="mobile-numbers-list"
            data-prototype="{{ form_widget(form.mobileNumbers.vars.prototype)|e }}">
            {% for mobileField in form.mobileNumbers %}
                    {{ form_widget(mobileField) }}
                    {{ form_errors(mobileField) }}
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
        <input type="button" value="Add another Number" id="add-another-number" {#onclick="addField('mobile-numbers-list','user_mobileNumbers')"#}>
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.education) }}
        </td>
        <td>

        <ul id="education-list"
            data-prototype="{{ form_widget(form.education.vars.prototype)|e }}">
            {% for edu in form.education %}
                    {{ form_widget(edu.eduType) }}
                    {{ form_errors(edu.eduType) }}
                    {{ form_widget(edu.institute, {'attr':{'placeholder': 'Institute'}}) }}
                    {{ form_errors(edu.institute) }}
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
        <input type="button" value="Add another Education" id="add-another-education" {#onclick="addField('education-list', 'user_education')"#}>
        </td>
    </tr>
    
    <tr>
        <td>
            {{ form_label(form.interests) }}
        </td>
        <td>

        <ul id="interests-list"
            data-prototype="{{ form_widget(form.interests.vars.prototype)|e }}">
            {% for interestfield in form.interests %}
                <li>
                    {{ form_widget(interestfield.interest) }}
                    {{ form_errors(interestfield.interest) }}
                </li>
            {% endfor %}
        </ul>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
        <input type="button" value="Add another interest" id="add-another-interest" {#onclick="addField('interests-list', 'user_interests')"#}>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            {{ form_row(form.save) }}
        </td>
    </tr>
    </table>
            {{ form_row(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
    <script src="{{ asset('bundles/usermanagement/js/addField.js') }}"></script>
    <script src="{{ asset('bundles/usermanagement/js/date.js') }}"></script>
{#    <script src="{{ asset('bundles/usermanagement/js/validation.js') }}"></script>#}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/usermanagement/css/formstyle.css') }}"
{% endblock %}
        